<div class="checkout-pane">
    <div class="checkout-pane__block">
        <div class="order__form-inputs checkout-order-inputs">
            <div class="checkout-field"><input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-shipping-firstname" class="form-input"></div>
            <div class="checkout-field"><input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-shipping-lastname" class="form-input"></div>
            <span></span>
            <div class="checkout-field"><input type="text" name="company" value="{{ company }}" placeholder="{{ entry_company }}" id="input-shipping-company" class="form-input"></div>
            <div class="checkout-field"><input type="text" name="address_1" value="{{ address_1 }}" placeholder="{{ entry_address_1 }}" id="input-shipping-address-1" class="form-input"></div>
            <span></span>
            <div class="checkout-field"><input type="text" name="address_2" value="{{ address_2 }}" placeholder="{{ entry_address_2 }}" id="input-shipping-address-2" class="form-input"></div>
            <div class="checkout-field"><input type="text" name="city" value="{{ city }}" placeholder="{{ entry_city }}" id="input-shipping-city" class="form-input"></div>
            <span></span>
            <div class="checkout-field"><input type="text" name="postcode" value="{{ postcode }}" placeholder="{{ entry_postcode }}" id="input-shipping-postcode" class="form-input"></div>
            <div class="checkout-field"><select name="country_id" id="input-shipping-country" class="checkout-select"><option value="">{{ text_select }}</option>{% for country in countries %}<option value="{{ country.country_id }}" {% if country.country_id == country_id %}selected="selected"{% endif %}>{{ country.name }}</option>{% endfor %}</select></div>
            <span></span>
            <div class="checkout-field"><select name="zone_id" id="input-shipping-zone" class="checkout-select"></select></div>
        </div>
    </div>

    <input type="button" value="{{ button_continue }}" id="button-shipping-address" data-loading-text="{{ text_loading }}" style="display:none">
</div>
<script type="text/javascript"><!--
$('#collapse-shipping-address select[name=\'country_id\']').on('change', function() {
    $.ajax({
        url: 'index.php?route=checkout/checkout/country&country_id=' + this.value,
        dataType: 'json',
        success: function(json) {
            var html = '<option value="">{{ text_select }}</option>';
            if (json['zone'] && json['zone'] != '') {
                for (var i = 0; i < json['zone'].length; i++) {
                    html += '<option value="' + json['zone'][i]['zone_id'] + '"' + (json['zone'][i]['zone_id'] == '{{ zone_id }}' ? ' selected="selected"' : '') + '>' + json['zone'][i]['name'] + '</option>';
                }
            } else {
                html += '<option value="0" selected="selected">{{ text_none }}</option>';
            }
            $('#collapse-shipping-address select[name=\'zone_id\']').html(html);
        }
    });
});
$('#collapse-shipping-address select[name=\'country_id\']').trigger('change');
$('#collapse-shipping-address select[name=\'zone_id\']').on('change', function() {
    if (this.value && this.value !== '0') {
        setTimeout(function() { $('#button-shipping-address').trigger('click'); }, 50);
    }
});
//--></script>
