{{ header }}
    <section class="error">
        <div class="container">
            <div class="error__inner">
                <div class="error__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="37" height="41" viewBox="0 0 37 41" fill="none">
                        <path d="M17.6211 1V34.2437" stroke="#202222" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
                        <path d="M9.31055 11.3887V23.8551" stroke="#202222" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
                        <path d="M34.2441 13.4668V21.7777" stroke="#202222" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
                        <path d="M1 13.4668V21.7777" stroke="#202222" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
                        <path d="M25.9336 7.2334V23.8553" stroke="#202222" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
                        <path d="M30.5906 34.7468L34.9975 39.1537M26.1837 39.1558L30.5927 34.7489L26.1837 39.1558ZM30.5927 34.7489L34.9995 30.34L30.5927 34.7489ZM30.5927 34.7489L26.1816 30.3379L30.5927 34.7489Z" stroke="#202222" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="error__content">
                    <div class="error__block">
                        <h1 class="error__title">{{ heading_title }}</h1>
                        <p class="error__descr">{{ text_error }}</p>
                    </div>
                    <a class="error__btn btn" href="{{ continue }}">{{ button_home }}</a>
                </div>
            </div>
        </div>
    </section>
{{ footer }}
