<!DOCTYPE html>

<html dir="{{ direction }}" lang="{{ lang }}">

<head>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<script src="catalog/view/javascript/jquery/jquery-3.7.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<link rel="stylesheet" href="catalog/view/css/style.css?v=20260626c">
<link rel="stylesheet" href="catalog/view/css/animations.css?v=20260626b">

{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/js/common.js?v=20260423"></script>

{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}"{% if link.hreflang %} hreflang="{{ link.hreflang }}"{% endif %} />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
{% for script in custom_scripts %}
{{ script.code|raw }}
{% endfor %}
<script type="application/ld+json">
{"@context":"https://schema.org","@type":"Organization","name":"{{ name|e('js') }}","url":"{{ base }}","logo":"{{ logo }}"{% if email %},"email":"{{ email }}"{% endif %}}
</script>
<script type="application/ld+json">
{"@context":"https://schema.org","@type":"WebSite","name":"{{ name|e('js') }}","url":"{{ base }}","potentialAction":{"@type":"SearchAction","target":"{{ base }}index.php?route=product/search&search={search_term_string}","query-input":"required name=search_term_string"}}
</script>
</head>
<body class="body" data-wishlist-products="{{ wishlist_product_ids|json_encode|e('html_attr') }}" data-wishlist-url="{{ wishlist }}" data-wishlist-total="{{ wishlist_total }}">
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <a class="header__logo" href="{{ base }}">
                    <img src="{{ logo }}?v=20260626b" alt="{{ name }}">
                </a>
                <div class="header__content">
                    <div class="header__top">
                        <nav class="header__top-menu">
                            <ul>
                                <li>
                                    <a href="{{ shop }}">{{ text_catalog ?: 'Каталог'}}</a>
                                </li>
                                <li>
                                    <a href="{{ latest }}">{{ text_latest ?: 'Новинки'}}</a>
                                </li>
                                <li>
                                    <a class="header__menu-sales" href="{{ special }}">{{ 'Sales'}}</a>
                                </li>
                            </ul>
                        </nav>

                        <div class="header__box">
                            {{ language }}
                            <span class="header__box-line"></span>
                            <div class="header__user">
                                <a class="header__favourite" href="{{ wishlist }}"><span>{{ wishlist_total }}</span></a>
                                <button class="header__cart cart-open"><span>{{ cart_total }}</span></button>
                            </div>
                            <span class="header__box-line"></span>
                            {% if logged %}
                                <a href="{{ account }}" class="header__account">{{ text_account }}</a>
                            {% else %}
                                <button class="header__login">{{ text_login }}</button>
                            {% endif %}
                            
                            <button class="header__search-open"></button>
                            <button class="header__open menu-open">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                                    <path d="M20 30H34V26H20V30ZM6 10V14H20V10H6ZM6 22H34V18H6V22Z" fill="#C5FF24"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                    {{ search }}
                </div>
            </div>
            <div class="header__menu">
                <div class="container">
                    <div class="header__menu-inner">
                        <div class="header__menu-top">
                            <a class="header__menu-logo" href="{{ base }}">
                                <img src="{{ logo }}?v=20260626b" alt="{{ name }}">
                            </a>
                            <button class="header__login">{{ text_login }}</button>
                            <button class="header__menu-close menu-close">{{ text_close }}</button>
                        </div>
                        <div class="header__menu-content">
                            <div class="header__menu-image">
                                <svg xmlns="http://www.w3.org/2000/svg" width="694" height="355" viewBox="0 0 694 355" fill="none">
                                    <path d="M433.42 0L166.648 177.064L116.251 75.2606C99.1154 40.6541 124.65 0 163.288 0H433.42ZM526.488 177.064H693.136L664.578 119.275C628.627 46.3659 554.039 0 472.73 0H433.42L346.736 177.064H526.488ZM166.648 177.064H0L28.5587 234.853C64.845 307.762 139.098 354.128 220.742 354.128H260.052L346.736 177.064H166.648ZM526.488 177.064L260.052 354.128H530.184C568.822 354.128 594.021 313.474 576.885 278.867L526.488 177.064Z" fill="#202222"/>
                                </svg>
                            </div>
                            <nav class="header__menu-list">
                                <ul>
                                    <li>
                                        <a href="{{ home }}">{{ text_menu_home }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ about }}">{{ text_menu_about }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ shop }}">{{ text_menu_shop }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ customers }}">{{ text_menu_customers }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ contact }}">{{ text_menu_contact }}</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="header__menu-bottom">
                                <div class="header__menu-block">
                                    <div class="header__menu-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M22.0001 16.92V19.92C22.0012 20.1985 21.9441 20.4741 21.8326 20.7293C21.721 20.9845 21.5574 21.2136 21.3521 21.4018C21.1469 21.5901 20.9046 21.7335 20.6408 21.8227C20.377 21.9119 20.0974 21.945 19.8201 21.92C16.7429 21.5856 13.7871 20.5341 11.1901 18.85C8.77388 17.3146 6.72539 15.2661 5.19006 12.85C3.50003 10.2412 2.4483 7.27097 2.12006 4.17997C2.09507 3.90344 2.12793 3.62474 2.21656 3.3616C2.30518 3.09846 2.44763 2.85666 2.63482 2.6516C2.82202 2.44653 3.04986 2.28268 3.30385 2.1705C3.55783 2.05831 3.8324 2.00024 4.11006 1.99997H7.11006C7.59536 1.9952 8.06585 2.16705 8.43382 2.48351C8.80179 2.79996 9.04213 3.23942 9.11005 3.71997C9.23668 4.68004 9.47151 5.6227 9.81006 6.52997C9.9446 6.8879 9.97372 7.27689 9.89396 7.65086C9.81421 8.02482 9.62892 8.36809 9.36005 8.63998L8.09006 9.90997C9.51361 12.4135 11.5865 14.4864 14.0901 15.91L15.3601 14.64C15.6319 14.3711 15.9752 14.1858 16.3492 14.1061C16.7231 14.0263 17.1121 14.0554 17.4701 14.19C18.3773 14.5285 19.32 14.7634 20.2801 14.89C20.7658 14.9585 21.2095 15.2032 21.5266 15.5775C21.8437 15.9518 22.0122 16.4296 22.0001 16.92Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </div>
                                    <div class="header__menu-tel">
                                        {% for phone in phones %}
                                          <a class="header__menu-link" href="{{ phone.href }}">{{ phone.label }}</a>
                                          {% if not loop.last %}
                                            <span> / </span>
                                          {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="header__menu-block">
                                    <div class="header__menu-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M4 4H20C21.1 4 22 4.9 22 6V18C22 19.1 21.1 20 20 20H4C2.9 20 2 19.1 2 18V6C2 4.9 2.9 4 4 4Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M22 6L12 13L2 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </div>
                                    <a class="header__menu-link" href="mailto:{{ email }}">{{ email }}</a>
                                </div>
                                <div class="header__menu-social">
                                    <a href="#" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                                            <path d="M18.2327 0H6.76727C3.03574 0 0 3.03574 0 6.76727V18.2329C0 21.9643 3.03574 25 6.76727 25H18.2329C21.9643 25 25 21.9643 25 18.2329V6.76727C25 3.03574 21.9643 0 18.2327 0ZM12.5 19.3357C8.7307 19.3357 5.66425 16.2693 5.66425 12.5C5.66425 8.7307 8.7307 5.66425 12.5 5.66425C16.2693 5.66425 19.3357 8.7307 19.3357 12.5C19.3357 16.2693 16.2693 19.3357 12.5 19.3357ZM19.4992 7.27634C18.3853 7.27634 17.4793 6.37035 17.4793 5.25646C17.4793 4.14257 18.3853 3.23639 19.4992 3.23639C20.6131 3.23639 21.5193 4.14257 21.5193 5.25646C21.5193 6.37035 20.6131 7.27634 19.4992 7.27634Z" fill="#D2D2D2"/>
                                            <path d="M12.5 7C9.46743 7 7 9.46724 7 12.5C7 15.5326 9.46743 18 12.5 18C15.5328 18 18 15.5326 18 12.5C18 9.46724 15.5328 7 12.5 7Z" fill="#D2D2D2"/>
                                        </svg>
                                    </a>
                                    <a href="#" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                                            <path d="M21.3379 0H3.66211C1.64299 0 0 1.64299 0 3.66211V21.3379C0 23.357 1.64299 25 3.66211 25H11.0352V16.1621H8.10547V11.7676H11.0352V8.78906C11.0352 6.36578 13.0064 4.39453 15.4297 4.39453H19.873V8.78906H15.4297V11.7676H19.873L19.1406 16.1621H15.4297V25H21.3379C23.357 25 25 23.357 25 21.3379V3.66211C25 1.64299 23.357 0 21.3379 0Z" fill="#D2D2D2"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
