{{ header }}
{{ content_top }}
{% if line %}
<div class="saleTextLine">
    <div class="saleTextLine__inner">
        {% for i in 1..15 %}
            {% for line in sale_line %}   
                <p class="saleTextLine-text">{{ line }}</p>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endif %}     
{{ content_bottom }}
{{ footer }}