{{ header }}
    {{ content_top }}

    <section class="pageInfo">
        <div class="container">
            <ul class="breadcrumbs">
                {% for breadcrumb in breadcrumbs %}
                    <li>
                        <a href="{{ breadcrumb.href }}" {% if loop.last %}class="active"{% endif %}>
                            {{ breadcrumb.text }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="pageInfo__inner">
                <h1 class="pageInfo__title main-title">{{ heading_title }}</h1>
            </div>
        </div>
    </section>

    <section class="shop">
        <div class="container">
            <div class="shop__inner">
                {{ filter }}

                {% if products %}
                    <div class="shop__results" data-wishlist-results data-empty-text="{{ text_empty|e('html_attr') }}">
                        {% for product in products %}
                            <div class="shop__item product__item">
                                <button class="product__item-fav active" type="button" data-product-id="{{ product.product_id }}"></button>
                                <a class="product__item-image" href="{{ product.href }}">
                                    <img src="{{ product.thumb }}" alt="{{ product.name }}">
                                </a>
                                <div class="product__item-content">
                                    <div class="product__item-buttons">
                                        <button class="product__item-btn btn" type="button" data-product-id="{{ product.product_id }}" data-quantity="{{ product.minimum|default(1) }}" data-added-text="{{ text_added }}">
                                            {{ button_cart }}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                                <path d="M7 5H10V7H7V10H5V7H2V5H5V2H7V5Z" fill="#202222"/>
                                            </svg>
                                        </button>
                                        <a class="product__item-btn btn" href="{{ product.href }}">
                                            {{ button_view }}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.99988 9.00012L6.99988 6.00012L3.99988 3.00012L4.99988 2.00012L8.99988 6.00012L4.99988 10.0001L3.99988 9.00012Z" fill="#202222"/>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="product__item-info">
                                        <a class="product__item-title" href="{{ product.href }}">
                                            <h3>{{ product.name }}</h3>
                                        </a>
                                        <p class="product__item-price">
                                            {% if product.special %}
                                                <span>{{ product.price }}</span>
                                            {% endif %}
                                            {{ product.special ?: product.price }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="shop__empty" data-wishlist-empty>{{ text_empty }}</p>
                {% endif %}

                <div class="shop__bottom">
                    <a href="{{ shop }}" class="shop__more btn-4">
                        {{ button_catalog }}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.66602 12.0002L8.66602 8.00016L4.66602 4.00016L5.99935 2.66683L11.3327 8.00016L5.99935 13.3335L4.66602 12.0002Z" fill="white"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>

    {{ content_bottom }}

{{ footer }}
