<section class="safemode">
  <div class="container">
    <div class="safemode__inner">

      {# ================= IMAGE SLIDER ================= #}
      <div class="safemode__image-slider swiper">
        <div class="swiper-wrapper">

          {% for item in items %}
            {% if item.image %}
              <div class="safemode__image swiper-slide">

                {# desktop #}
                <img
                  class="hide-mobile"
                  src="image/{{ item.image }}"
                  alt="{{ item.title|e }}"
                  loading="lazy"
                >

                {# mobile (fallback на desktop) #}
                <img
                  class="show-mobile"
                  src="image/{{ item.mob_image ?: item.image }}"
                  alt="{{ item.title|e }}"
                  loading="lazy"
                >

              </div>
            {% endif %}
          {% endfor %}

        </div>
      </div>

      {# ================= CONTENT SLIDER ================= #}
      <div class="safemode__content">

        <div class="safemode__slider swiper">
          <div class="swiper-wrapper">

            {% for item in items %}
              <div class="safemode__slide swiper-slide">

                {% if item.title %}
                  <h2 class="safemode__title title">
                    {{ item.title|raw }}
                  </h2>
                {% endif %}

                {{ item.content ? item.content|raw : ''}}
                <a class="safemode__more btn" href="#">
                    Подробнее
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                         <path fill-rule="evenodd" clip-rule="evenodd" d="M5.1665 12.0002L9.1665 8.00016L5.1665 4.00016L6.49984 2.66683L11.8332 8.00016L6.49984 13.3335L5.1665 12.0002Z" fill="#202222"/>
                    </svg>
                </a>
              </div>
            {% endfor %}

          </div>
        </div>

        {# ================= CONTROLS ================= #}
        <div class="safemode__slider-content slider-content">
          <div class="safemode__slider-buttons slider-buttons">

            <button class="safemode__slider-prev slider-btn-prev">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M17.0002 18.0002L11.0002 12.0002L17.0002 6.00024L15.0002 4.00024L7.00024 12.0002L15.0002 20.0002L17.0002 18.0002Z"
                  fill="white"/>
              </svg>
            </button>

            <button class="safemode__slider-next slider-btn-next">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M6.99976 18.0002L12.9998 12.0002L6.99976 6.00024L8.99976 4.00024L16.9998 12.0002L8.99976 20.0002L6.99976 18.0002Z"
                  fill="white"/>
              </svg>
            </button>

          </div>

          <div class="safemode__slider-pagination slider-pagination"></div>
        </div>

      </div>
    </div>
  </div>
</section>
