<section class="partner">
    <div class="container">
                <div class="partner__inner">
                    <div class="partner__content">
                        <h2 class="partner__title title">{{ title }}</h2>
                        <p class="partner__descr">{{ content }}</p>
                        <div class="partner__buttons">
                            <a class="partner__btn btn" href="{{ buttons[0].href }}">{{ buttons[0].name }}</a>
                            <a class="partner__btn btn-5" href="{{ buttons[1].href }}">{{ buttons[1].name }}</a>
                        </div>
                    </div>
                    <div class="partner__image">
                        <img src="{{ image.full }}" alt="{{ title }}">
                    </div>
                </div>
    </div>
</section>